header{
  background-color: #E98074
}

.info{
border: 1px solid #555;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 50%;
}

h3{
  background-color: orange;
}

h2{
  background-color: #266150;
}
