header{
  background-color: #E98074;


}
.info{
  background-color: #266150;
  color: white;
  border: 5px solid #555;
  text-align: center;
  margin-left: 500px;
  margin-right: 520px;
}
img{
width: 50%;
max-width: 500px;
min-width: 175px;
padding-left: 500px;
padding-right: 500px;

}
h1{
  margin-bottom: 5px;
}
h2{
  background-color: #266150;
  text-align: center;
  color: white;
}
